@font-face {
  font-family: 'GriounPolice';
  src: url('./fonts/그리운경찰공평체.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
  font-family: inherit;
  touch-action: manipulation;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#e0e0e0 1px, transparent 1px),
  linear-gradient(90deg, #e0e0e0 1px, transparent 1px);
  background-size: 28px 28px;
  background-color: #f5f5f5;
  font-family: 'GriounPolice', cursive;
}

#root {
  width: 100%;
  height: 100%;
}